{"serviceName":"wpaidlpredictonline","lastConfigTime":1578015253000,"config":"<Service name=\"wpaidlpredictonline\" id=\"1\" maxThreadCount=\"50\"><Commmunication ><SocketPool bufferSize=\"4096\" minPoolSize=\"2\" maxPoolSize=\"20\" nagle=\"false\" autoShrink=\"00:00:20\" sendTimeout=\"00:00:03\" receiveTimeout=\"00:00:05\" waitTimeout=\"00:00:01\" maxPakageSize=\"10240000\" protected=\"false\" reconnectTime=\"0\" recvBufferSize=\"4096\" sendBufferSize=\"4096\" connectionTimeout=\"00:00:02\" readWriteTimeout=\"30\" sendMsgCount=\"30\" /><Protocol serialize=\"SCF\" encoder=\"UTF-8\" compressType=\"UnCompress\" protocolType=\"V2\" /></Commmunication><Loadbalance><Server deadTimeout=\"00:00:20\"><add name=\"wpaidlpredictonline177473680\" host=\"10.148.8.144\" port=\"18090\" weight=\"1000\" /></Server></Loadbalance></Service>","dataType":1,"forbidType":-1}